@model IEnumerable<BattleriteAspx.Models.Account>

@{
    ViewData["Title"] = "Index";
}

<h2>Titel</h2>


<table class="table">
    <thead>
        
    </thead>
    <tbody>
      
    </tbody>
</table>
